.menu {
    @include flex-row;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;

    &.scroll {
        overflow: auto;
        white-space: nowrap;
        background-color: $warna2;
    }

    .item {
        @include flex-column;
        align-items: center;
        position: relative;
        padding: 10px;
        text-decoration: none;

        .teks {
            color: white;
            font-size: 12px;
            pointer-events: none;
            transition: $transition-fast;

            &.active {
                color: rgb(64, 135, 241);
            }
        }

        .line {
            position: absolute;
            bottom: 0;
            height: 2px;
            width: 60px;
            transition: $transition-fast;

            &.active {
                background-color: rgb(64, 135, 241);
            }
        }
    }
}