 .navbar {
     position: fixed;
     bottom: 0;
     left: 0;
     right: 0;
     @include flex-row;
     align-items: center;
     justify-content: space-evenly;
     height: 57px;
     background-color: $warna1;
     z-index: 2;

     .item {
         @include flex-column;
         align-items: center;
         justify-content: space-evenly;
         width: 20%;
         text-decoration: none;


         &.active {
             .teks {
                 color: rgb(25, 137, 250);
             }
         }

         .gambar {
             width: 31.99069444444444%;
         }

         .teks {
             font-size: 12px;
             color: white;
         }


     }
 }