.section-berita {
    @include flex-row;
    align-items: center;
    justify-content: space-between;
    background-color: $warna2;
    padding: 5px 10px;
    color: white;

    i {
        margin: 0 7px 0 0;
    }
}