.section-judul {
    background-color: $warna2;
    color: white;
    font-size: 12px;
    font-weight: 300;
    padding: 10px 20px;
    margin: 0 0 5px 0;

    &.dengan-back {
        @include flex-row;
        align-items: center;
        justify-content: center;
        position: relative;
        background-color: $warna1;
        padding: 10px 0;
        margin: 0;

        .teks {
            font-size: 14px;
            font-weight: normal;
        }

        .icon {
            position: absolute;
            left: 20px;

            i {
                color: white;
                font-size: 19px;
            }
        }
    }

    &.link {
        @include flex-row;
        align-items: center;
        justify-content: space-between;
        text-decoration: none;
        margin: 0 0 1px 0;

        .field-kiri {
            @include flex-row;
            align-items: center;

            .icon {
                width: 4.5vw;
                margin-right: 3px;
            }
        }

        .icon {}
    }
}